body {
  background-image: url(./assets/images/bg.jpg);
}
.App {
  text-align: center;
}
/* Containers */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Containers */

/* Login Styles */
.login {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 2%;
}
.login div {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 4% 2%;
}
 div .input {
  padding: 1%;
  height: 2em;
  border: none;
  border-radius: 2%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 2%;
  color: hsl(0.0, 0.0%, 50.2%);
}
label {
  font-family: 'Open Sans', sans-serif; 
}
/* Login Styles */

/* Buttons */
.btn {
  border: 0;
  border-radius: 3%;
  font-family: 'Open Sans';
  transition: all .3s;
}
.btn:focus {
  outline-color: #fff;
}
.btn-purple {
  color: #fff;
  background: #FF23FF; 
}
.btn-purple:hover {
  background: #B200FFFF;
}
/* Buttons */
